.azul {

    background-color: rgb(37, 167, 197);
    padding: 100px;
    padding-right: 1000px;

}

.amarela {

    background-color: rgb(235, 211, 34);
    padding: 100px;
    margin: 30px;

}

.flex {

    display: flex;

}